body {
  background: #f9f7fe;
  font-family: Roboto Slab;
}
.weather-app {
  background-color: white;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  max-width: 600px;
  padding: 30px;
}
.placeholder {
  background: #f9f7fe;
  padding: 15px;
  border-radius: 6px;
  border: none;
  width: 75%;
}
.search-button {
  background-color: chartreuse;
  color: white;
  border: none;
  padding: 15px 30px;
  line-height: 1;
  border-radius: 5px;
  margin-left: 10px;
}
